<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layouts/_head.ejs') %>
    <title>A単adir un empleado</title>
</head>
<body>
    <%- include('../layouts/_nav.ejs') %>

        <h1 style="text-align: center;">Vista para a単adir un nuevo empleado.</h1>


        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- A単adir la accion del formulario hacia la ruta especifica -->
                            <form action="" method="POST">
                                <div class="form-group">
                                    <input type="text" name="nombres" placeholder="Nombres">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="apellido_pat" placeholder="Apellido Paterno">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="apellido_mat" placeholder="Apellido Materno">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="rut" placeholder="Rut">
                                </div>
                                <div class="form-group">
                                    <input type="url" name="imagen" placeholder="Url de su Imagen de perfil">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">
                                        A単adir Empleado
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <%- include('../layouts/_footer.ejs') %>
</body>
</html>