<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layouts/_head.ejs') %>
    <title>Añadir un empleado</title>
</head>
<body>
    <%- include('../layouts/_nav.ejs') %>

        <h1 style="text-align: center;">Vista para añadir un nuevo empleado.</h1>



    <%- include('../layouts/_footer.ejs') %>
</body>
</html>